<h1>Contact</h1>
<br><br>
<address><b>Snail mail:</b>
  Steve Wang<br>
  156 South Oak Knoll Ave<br>
  Pasadena, California 91101<br><br>
  <strong>Phone:</strong> (123) 456-7890
</address>

<address>
  <strong>Email me</strong> @
  <a href="mailto:#"><b>swangful@gmail.com</b></a>
</address>