<footer class="footer">
  <small>
    <%= link_to image_tag("railsgirls-logo.png", alt: "RailsGirls"), 'http://railsgirls.com/' %>
  </small>
  <nav>
    <ul>
      <li><strong><%= link_to "Resources",   '/resources' %></strong></li>
      <li><strong><%= link_to "FAQ", '/faq' %></strong></li>
    </ul>
  </nav>
</footer>